#{extends 'standardForm.html' /}
#{set title:'OrderForm' /}

#{set 'action'}
	#{if mode == 'add'}
		@{OrderForms.create()}
	#{/if}
	#{elseif mode == 'edit'}
		@{OrderForms.edit()}
	#{/elseif}
	#{else}
		@{OrderForms.filter()}
	#{/else}
#{/set}

<script>

function sync(item){
	dateOfOrder = item.find(".dateOfOrder").html()
    numberOfOrder = item.find(".numberOfOrder").html()
    $("#orderForm_dateOfOrder").val(dateOfOrder);
    $("#orderForm_numberOfOrder").val(numberOfOrder);
}

function remove(id){
	$(location).attr('href', '/OrderForms/delete?id='+id);
}

</script>

<p>
<ul>
  <li><a href="@{OrderForms.show("filter")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="@{OrderForms.show}" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="@{Application.index}" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{OrderForms.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform_modal"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>

<h1>Order form</h1>

<table>
	<tr class = "header">
		<th>Date of order</th>
		<th>Number of order</th>
	</tr>
#{list items:orderForms, as:'orderForm'}
	<tr>
		<td class = "dateOfOrder">${orderForm.dateOfOrder}</td>
		<td class = "numberOfOrder">${orderForm.numberOfOrder}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${orderForm.id}</td>
	</tr>
#{/list}
</table>

<div class = "panel">
	<p>
		<form action = "${action}" method = "POST">
			#{field 'orderForm.id'}
				<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
			#{/}
			<p>
			#{field 'orderForm.numberOfOrder'}
				<label for = "${field.id}">Number of order</label>
				<input type = "text" name = "${field.name}" id = "${field.id}"/>
			#{/}
			</p>
			<p>
			#{field 'orderForm.dateOfOrder'}
				<label for = "${field.id}">Date of order</label>
				<input type = "date" name = "${field.name}" id = "${field.id}"/>
			#{/}
			</p>
			<div id = "formActions">
			<input type = "submit" class="btn btn-success" value = "Submit" style="margin-left:6em"/>
			<a href = "@{OrderForms.show('edit')}" class="btn btn-warning" style="margin-left:1em">Rollback</a>
		</div>
		
		</form>
	</p>
</div>
